img {
  width: 100px;
  height: 300px;
  background-color: red;
  display: inline-block
}

header {
  height: 50px;
  background-color: red;
  width: 100%;
  margin-bottom: 40px;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.articles {
  overflow: auto;
  margin-bottom: 40px;
}

.article {
  margin-right: 20px;
  background-color: red;
  width: 350px;
  height: 300px;
  float: left;
  position: relative;
}

.article__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  clear: both;
  position: relative;
}

.footer__heading {
  position: absolute;
  left: -120px;
  top: 50%;
  background-color: yellow;
}
